.App {
  display: flex;
  width: 100%;
  margin: 0 auto 300px auto;
}

.tab_content {
  flex: 0 0 100%;
}
.tab_content > article {
  width: 750px;
  margin: 0 auto;
  background-color: #e8e500;
  height: 1100px;
}

@media screen and (max-width: 880px) {
  .App {
    width: 100%;
    margin: 60px auto 60px auto;
  }
}
