html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "malgun gothic", dotum, Helvetica, "Apple SD Gothic Neo",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
  background-image: url("../assets/images/common/bg.jpg");
  background-repeat: repeat;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  cursor: pointer;
}
