.swiper-slide > div > .bgImg {
  width: 100%;
  height: 100%;
}

.swiper-slide > .bg {
  height: 1257px;
  background-image: url("../assets/images/page/page_bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.swiper-slide img.btn {
  position: absolute;
  bottom: 26.2%;
  left: 36.1%;
  width: 27.8%;
}

.btn_wrap {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 27.8%;
}
.swiper-slide h1 {
  text-align: center;
}

.btn_wrap img {
  margin-bottom: 30%;
  width: 100%;
}

.content_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}
