.swiper-slide > div > .bgImg {
  width: 100%;
}

.swiper-slide > .bg {
  height: 1257px;
  background-image: url("../assets/images/page/page_bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.swiper-slide img.btn {
  position: absolute;
  bottom: 26.2%;
  width: 27.8%;
}

.btn_wrap {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 27.8%;
}
.swiper-slide h1 {
  text-align: center;
}

.btn_wrap img {
  margin-bottom: 30%;
  width: 100%;
}

.content_wrap {
  position: relative;
  width: 100%;
  line-height: 0px;
  display: flex;
  justify-content: center;
}
.content_wrap > img {
  width: 100%;
}
.content_wrap > table {
  position: absolute;
  top: 23%;
  margin: 0 auto;
  width: 82%;
  vertical-align: middle;
  text-align: center;
  line-height: initial;
}
thead th {
  background-color: #000846;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 45px;
}
tbody {
  font-size: 16px;
}
tbody th {
  width: 20%;
  background: #f6f6f6;
  font-weight: 700;
  border-bottom: 1px solid #d2d2d2;
}
tbody td {
  width: 30%;
  padding: 2% 0px;
  border-bottom: 1px solid #e6e6e6;
}
tbody td a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .content_wrap {
    background-size: contain;
    background-image: url("../assets/images/page/nums.png");
  }

  table {
    width: 80%;
  }
  thead {
    font-size: 15px;
  }
  tbody {
    font-size: 14px;
  }
}
