.Tel {
  vertical-align: middle;
  text-align: center;
  line-height: 0px;
  flex: 1 1 auto;
}
.Tel > * {
  line-height: initial;
}
.Tel thead {
  font-size: 18px;
}
.Tel thead th {
  background-color: #3f3083;
  color: #fff;
  height: 40px;
  border: 2px solid white;
}
.Tel tbody {
  font-size: 16px;
  font-weight: bold;
}
.Tel tbody th {
  width: 20%;
  font-weight: 700;
}
.Tel tbody td {
  width: 30%;
  height: 43px;
}
.Tel tbody td a {
  color: #000;
  text-decoration: none;
}

.Tel tbody.last_size_down tr:last-child th:last-of-type {
  font-size: 11px;
}

@media screen and (max-width: 880px) {
  .Tel {
    font-size: 2.4vw;
  }
  .Tel thead {
    font-size: 1em;
  }
  .Tel thead th {
    height: 5vw;
  }
  .Tel tbody {
    font-size: 2.3vw;
  }
  .Tel tbody td {
    height: 5.7vw;
  }
  .Tel tbody.last_size_down tr:last-child th:last-of-type {
    font-size: 1.5vw;
  }
}
